streamlit
pandas
plotly-express
matplotlib-colors
base64
numpy
plotly
matplotlib
sklearn.model_selection
sklearn 
sklearn.ensemble 
scipy.stats
streamlit-extras
seabonr
openpyxl
Plost
plotly
scikit-learn
scipy
statsmodels


