streamlit
pandas
plotly
plotly-express
matplotlib-colors
base64
numpy
plotly
matplotlib
sklearn.model_selection
sklearn 
sklearn.ensemble 
scipy.stats
streamlit-extras
seaborn
openpyxl
Plost
scikit-learn
scipy
statsmodels


